body {
  font: 11px sans-serif;
  height:100%;
  margin:0;
}

#full{
    height:100%;
}
#hdr{
    width:100%;
    text-align:center;
    max-height:10%;
}
#hdr h1{
    margin-bottom:0;
}
div#options{
    float:left;
    width:95%;
    height:9%;
    padding-left:5%;
    padding-top:1%;
}
/*input{
    background-color:#fc0;
}*/
input.down{
    background-color:#0cf;
    border-left:7px;
    border-right:7px;
}
#graphcontainer{
    display:inline-block;
    width:70%;
    height:80%;
}
#sketchcontainer{
    position:relative;
    display:inline-block;
    width:25%;
    height:80%;
    border:2px solid black;
    border-radius: 10px;
    background-color: #ccc
}
#sketchcontainer.hidden{
    opacity:0;
    transition:1s;
    moz-transition:1s;
}
#sketchcontainer.nothidden{
    opacity:1;
    transition:1s;
    moz-transition:1s;
}
#sketchtitle{
    width:100%;
    text-align:center;
    display:block;
    padding-top:10px;
    font-size:2em;
    height:30px;
}
div.sketchlab{
    font-size:1.2em;
}
.icon img{
    width: 100%;
    height: 100%;
}
img.icon{
    width:100%;
    height:100%;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height:100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    /*position: relative;*/
    top: 0px;
    left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.dot {
  stroke: #000;
}*/

.axis-label{
    font-size:1.5em;
}

.tick line {
    opacity:0.2;
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  background-color:rgba(255,255,255,1);
  border:solid rgba(0,0,0,0.5) 1px;
  padding:5px
}
.tooltip span{
    display:block;
}