body {
  font: 11px sans-serif;
  height:100%;
  margin:0;
  background-color:#000;
}

#full{
    height:100%;
}
#hdr{
    width:100%;
    text-align:center;
    max-height:10%;
    color:#fff;
    height:10%;
}
#hdr h1{
    margin-bottom:0;
}
#bubble-container{
    height:90%;
    text-align:center;
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  background-color:rgba(255,255,255,1);
  border:solid rgba(0,0,0,0.5) 1px;
  padding:5px
}
.tooltip span{
    display:block;
    font-size:2em;
}