body {
  font: 11px sans-serif;
  height:100%;
  margin:0;
}

#full{
    height:100%;
}
#hdr{
    width:100%;
    text-align:center;
    max-height:10%;
}
#hdr h1{
    margin-bottom:3%;
}
div#options{
    float:left;
    width:95%;
    height:9%;
    padding-left:5%;
    padding-top:1%;
    display:none;
}
/*input{
    background-color:#fc0;
}*/
input.down{
    background-color:#0cf;
    border-left:7px;
    border-right:7px;
}
#graphcontainer{
    display:inline-block;
    float:left;
    width:70%;
    height:100%;
}
#infoouter{
    float:left;
    display:inline-block;
    width:25%;
    height:90%;
    border:2px solid black;
    border-radius: 10px;
    background-color: #eee;
}
#sketchcontainer{
    position:relative;
    display:inline-block;
    /*width:100%;
    height:50%;*/
    float:left;
    /*border:2px solid black;*/
    /*border-radius: 10px;*/
    /*background-color: #ccc*/
}
#labcontainer{
    /*position:absolute;*/
    display:inline-block;
    width:100%;
    height:50%;
    float:left;
    /*border:2px solid black;*/
    /*border-radius: 10px;*/
    /*background-color: #ccc*/
}
#sketchtitle{
    width:100%;
    text-align:center;
    display:block;
    padding-top:10px;
    font-size:1.5em;
    height:30px;
}
.labcont{
    /*border:1px solid black;*/
}
.sketchlab.mtxt{
    width:100%;
    font-size:1.2em;
    text-align:center;
    display:inline-block;
    padding-top:3px;
    padding-left:0px;
}
.massicon {
    text-align:center;
}
.massicon img{
    /*width:100%;*/
    height:50%;
}

.labcont{
    margin-left:5%;
    width:40%;
    margin-top:5%;
}
.labcont img, .labcont div{
    height: 100%;
    float:left;
}
.sketchlab.info{
    font-size:1em;
    padding-left:10px;
    /*padding-top:10px;*/
    display:inline-block;
}
.svg-container {
    display: inline-block;
    position: relative;
    /*width: 100%;
    height:100%;*/
    /*padding-bottom: 100%; /* aspect ratio */*/
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.dot {
  stroke: #000;
}*/

.axis-label{
    font-size:1.5em;
}

.tick line {
    opacity:0.2;
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  background-color:rgba(255,255,255,1);
  border:solid rgba(0,0,0,0.5) 1px;
  padding:5px
}
.tooltip span{
    display:block;
}
#options-icon{
    position:absolute;
}
#options-icon img{
    width:100%;
    cursor:pointer;
}
#options-close{
    position:absolute;
    width:30px;
    height:30px;
    right:-15px;
    top:-10px;
    cursor:pointer;
}
#infoclose img{
    width:100%;
    cursor:pointer;
}
#options-bg{
    position:fixed;
    width:100%;
    height:0;
    left:0;
    top:0;
    background-color: #888;
    opacity:0;
}
#options-outer{
    position: fixed;
    width: 200px;
    height: 28px;
    background-color:rgba(255,255,255,1);
    border:solid rgba(0,0,0,1) 5px;
    border-radius:20px;
    padding:5px;
    opacity:0;
}
#options-inner{
    width:100%;
    height:auto;
    padding-bottom:10px;
}
.options-title{
    width:100%;
    text-align:center;
    font-size:2em;
    padding-bottom:10px;
}
.options-buttons{
    padding-bottom:20px;
}