body {
  font: 16px sans-serif;
  /*height:100%;*/
  margin:0;
  background-color:#000;
  text-align:center;
  overflow:hidden;
}
a{
    color:#ff55ff;
}
.bubble-container{
    width:100%;
    height:100%;
}
.cc_banner{
    text-align:center
}
#hdr{
    width:100%;
    color:#fff;
    background-color: rgba (0,0,0,0.5);
    text-align:center;
}
#hdr.bottom, #control-bar.bottom{
    max-height:5%;
    position:fixed;
}
#hdr.right{
    height:5%;
    display:block;
    position:relative;
}
#hdr h1{
    margin-bottom:0;
    font-size:22px;
}
#control-bar{
    width:100%;
    text-align:right;
    color:#fff;
    position:fixed;
    top:0;
    margin:0 auto;
}
#control-bar.right{
    height:5%;
    display:block;
}
#control-bar .button {
    float:right;
    right:0;
    margin-right:10px;
    margin-left:10px;
    height:50%;
    width:auto;
}
#control-bar .button img{
    height:100%;
    float:right;
    width:auto;
    cursor: pointer;
}
#control-bar .button .button-span{
    height:100%;
    float:right;
    width:auto;
    cursor: pointer;
    padding-right:5px;
}
#lang-button{
    /*border:1px solid white;*/
    cursor:pointer;
    /*border-radius:5px;*/
}
#lang-button .lang-button-cont{
    width:100%;
    height:auto;
}
/*#hdr #lang-button img{
    height:75%;
    padding-right:5px;
    padding-left:5px;
}*/
/*#lang-list{
    width:auto;
    margin-top:1.5em;
    border:1px solid white;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    display:none;
}*/
#lang-block span{
    display:block;
    padding:5px;
    text-align:left;
    color:#fff;
    cursor:pointer;
}
span.lang-item.current{
    font-weight: bold;
    color:yellow !important;
}
span.lang-item.current:before{
    content:"▶ "
}
#lang-button.show #lang-list{
    display:block;
}
/*#lang-label:before{
    content:"▼";
}
#lang-label.show:before{
    content:"▲";
}*/
/*span#lang-arrow:after{
    content:"▼";
}
span#lang-arrow.show:after{
    content:"▲";
}*/
#lang-arrow.show img{
    transform:rotate(180deg);
}
#full.right{
    height:90%;
    display:block;
    text-align:center;
    position:relative;
    /*width:800px;*/
    margin:0 auto;
}
#full.bottom{
    width:100%;
    height:90%;
    display:block;
    text-align:center;
    position:relative;
    margin:0 auto;
}
#svg-container.right{
    height:100%;
    width:auto;
    float:left;
    text-align:right;
    margin:0 auto;
}
#svg-container.bottom{
    width:100%;
    height:85%;
    display:block;
    float:left;
}
#footer.right{
    position:absolute;;
    width:100%;
    max-height:15%;
    bottom:0;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
}
/*#footer.right span{
    display:block;
}
#footer.right button{
    position:absolute;
    top:0%;
    right:0%;
    height:100%;
    cursor:pointer;
}*/
#footer.bottom{
    position:absolute;
    width:100%;
    max-height:15%;
    bottom:0;
    text-align:center;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
}
#footer span{
    width:90%;
    display:block;
    /*font-size:11px;*/
}
#footer button{
    float:right;
    width:10%;
    cursor:pointer;
}
/*Control panel on right side*/
#controls.right{
    float:left;
    top:10%;
    right:0;
    height:100%;
    width:12%;
    /*margin-right:2%;*/
}
#controls div.control.merge{
    border:solid 1px white;
    border-radius:10%;
    /*margin-bottom:1%;*/
}
#controls.right div.control-lab{
    color:#fff;
    font-size:18px;
    display:block;
    margin-top:5%;
    float:left;
    margin-left:10%;
    width:80%;
}
#controls .control.right, #controls .scale.right{
    transition:height;
    transition-duration: 500ms;
    float:left;
    width:80%;
    cursor:pointer;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
}
#controls .control.right img, #controls .scale.right img{
    width: 100%;
}
#controls .hide{
    display:none;
}
#controls .hide img{
    display:none;
}
/*Control panel below*/
#controls.bottom{
    top:90%;
    max-height:15%;
    width:100%;
    margin-right:2%;
    float:left;
    display:block;
}
#controls.bottom div.control-lab{
    color:#fff;
    font-size:18px;
    display:inline-block;
    float:left;
    text-align:right;
    margin-right:1%;
    margin-left:2%;
    min-width:10%;
}
#controls .control.bottom, #controls .scale.bottom{
    float:left;
    width:12%;
    cursor:pointer;
    margin-right:1%;
}
#controls .control.bottom img, #controls .scale.bottom img{
    width: 100%;
}
#controls .control.current ,#controls .scale.current{
    border:1px solid white;
    /*border-radius:25%;*/
    background-color: #555;
    cursor:default;
}
input.down{
    background-color:#0cf;
    border-left:7px;
    border-right:7px;
}
.bh-circle,.bh-circle-text{
    cursor:pointer
}
/*Tooltips*/
.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  pointer-events: none;
  background-color:rgba(255,255,255,1);
  border:solid rgba(0,0,0,0.5) 1px;
  border-radius:10px;
  padding:5px;
  opacity:0;
}
.tooltip span{
    display:block;
    /*font-size:2em;*/
}
.tooltip span.name{
    font-size:2em;
    font-weight: bold;
}
.tooltip span.info{
    font-size:2em;
}
/*Control tooltips*/
.conttooltip {
  position: absolute;
  height: auto;
  width: auto;
  pointer-events: none;
  background-color:rgba(255,255,255,1);
  border:solid rgba(0,0,0,0.5) 1px;
  /*border-radius:10px;*/
  padding:5px;
  opacity:0;
  text-align:right;
}
/*Info panel*/
.infopanelbg{
    position:fixed;
    width:100%;
    height:0;
    left:0;
    top:0;
    background-color: #888;
    opacity:0;
}
.infopanelouter{
    position: fixed;
    width: 200px;
    height: 28px;
    background-color:rgba(255,255,255,1);
    border:solid rgba(0,0,0,1) 5px;
    border-radius:20px;
    padding:5px;
    opacity:0;
}
.infopanel{
    width:100%;
    height:auto;
    padding-bottom:10px;
}
.infopanel span{
    display:block;
}
.infopanel span.name{
    font-size:4em;
    font-weight:bold;
    padding-bottom:20px;
}
.infopanel span.info{
    font-size:2em;
    text-align:left;
    padding-bottom:10px;
}
.infopanel span.cite{
    font-size:0.8em;
    display:inline;
}
.infopanel span.ref{
    font-size:1em;
    text-align:left;
    padding-bottom:0px;
}
.popup-close{
    position:absolute;
    width:30px;
    height:30px;
    right:-15px;
    top:-15px;
    cursor:pointer;
}
.popup-close img{
    width:100%;
    cursor:pointer;
}
.popup-bg{
    position:fixed;
    width:100%;
    height:0;
    left:0;
    top:0;
    background-color: #888;
    opacity:0;
}
.popup-outer{
    position: fixed;
    width: 200px;
    height: auto;
    background-color:rgba(0,0,0,1);
    border:solid rgba(255,255,255,1) 5px;
    border-radius:20px;
    padding:5px;
    opacity:0;
    max-height:80%;
    /*overflow-y:scroll;*/
}
.popup-inner{
    width:100%;
    height:auto;
    padding-bottom:10px;
    background-color:#000;
}
.popup-title{
    width:100%;
    text-align:center;
    font-size:1.5em;
    padding-bottom:5px;
    padding-top:10px;
    color:#fff;
    float:left;
}
.popup-button{
    display:inline-block;
}
.help-cont{
    width:90%;
    margin-left:10%;
    text-align:left;
    padding-bottom:3%;
    height:auto;
    float:left;
}
.help-cont img{
    height:100%;
    float:left;
    margin-right:10px;
    border:1px solid white;
}
.help-cont img.anim{
    border-radius:10%;
}
.help-text{
    color:#fff;
    font-size:1.2em;
}
#share-inner{
    text-align:left;
}
.share-icon{
    height:50px;
}
@media (max-width: 500px){
    .tooltip span.name{
        font-size: 1em;
        font-weight: bold;
    }
    .help-text{
        font-size:1em;
    }
    #hdr h1{
        font-size: 12px;
    }
}
